.restrict-height {
    height: calc(100% - 48px);
    overflow-y: auto;
}

.panel-properties {
    border-left: 1px solid #353535;
    transition: opacity 2s ease-in-out;
}

.panel-properties .TableContainer {
    width: 100%;
    overflow: hidden;
    padding-right: 20px;
}
  
.panel-properties .input-fields {
    text-align: right;
    width: 50px;
}

.panel-properties .color-picker {
    background-color: var(--primary-color); /* Use the global color variable */
  }

.fade-in {
opacity: 1;
}

.fade-out {
opacity: 0;
}
