---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/editor.svelte'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Editor - Super Snippets</title>
	</head>
    
    <main>
        <Editor />
    </main>
</html>

<style>
    html {
        margin: 0;
    }
    body {
        margin: 0;
    }
</style>